<div id="taskList">

    <h2>Task List</h2>
    
	<form ng-submit="createTask()" name="taskForm">
		<input type="text" ng-model="task.title" name="title" required size="30" placeholder="add new task here">
		<input class="button" type="submit" value="add" ng-disabled="taskForm.$invalid">
	</form>

    <div class="taskColumn">
    	<h3>Todo</h3>
	    <ul>
	        <li ng-repeat="task in tasks | filter:task.status='TODO'"" class="{{task.type}}">
	            <a href="#/task/{{task.id}}"><span class="taskTitle">{{task.title}}</span></a>
	            <button class="button" ng-click="deleteTask(task)">X</button>
	            <button class="button" ng-click="upgradeTaskStatus(task)">></button>
	        </li>
	    </ul>    
    </div>

    <div class="taskColumn">
        <h3>In Progress</h3>
	    <ul>
	        <li ng-repeat="task in tasks | filter:task.status='IN_PROGRESS'"">
	            <a href="#/task/{{task.id}}"><span class="taskTitle">{{task.title}}</span></a>
	        	<button class="button" ng-click="downgradeTaskStatus(task)"><</button>
	            <button class="button" ng-click="deleteTask(task)">X</button>
				<button class="button" ng-click="upgradeTaskStatus(task)">></button>
	        </li>
	    </ul>
	</div>

    <div class="taskColumn">
        <h3>Verify</h3>
	    <ul>
	        <li ng-repeat="task in tasks | filter:task.status='TO_VERIFY'"">
	            <a href="#/task/{{task.id}}"><span class="taskTitle">{{task.title}}</span></a>
	        	<button class="button" ng-click="downgradeTaskStatus(task)"><</button>
	            <button class="button" ng-click="deleteTask(task)">X</button>
				<button class="button" ng-click="upgradeTaskStatus(task)">></button>
	        </li>
	    </ul>
	</div>

    <div class="taskColumn">
        <h3>Done</h3>
	    <ul>
	        <li ng-repeat="task in tasks | filter:task.status='DONE'"">
	            <a href="#/task/{{task.id}}"><span class="taskTitle">{{task.title}}</span></a>
	        	<button class="button" ng-click="downgradeTaskStatus(task)"><</button>
	            <button class="button" ng-click="deleteTask(task)">X</button>
	        </li>
	    </ul>
	</div>

</div>
